aio-pika==9.4.1
aiogoogle==5.12.0
aiogram_dialog==2.2.0
aiogram==3.8.0
attrs==23.2.0
babel==2.16.0
decorator==5.1.1
humanize==4.11.0
motor==3.5.1
pydantic==2.7.4
pymongo==4.8.0
python-dateutil==2.9.0.post0
python-statemachine==2.3.6
PyYAML==6.0.1